.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
  
  .divider-line {
    flex: 1;
    height: 2px;
    background: linear-gradient(to right, transparent, #000, transparent);
  }
  
  .divider-text {
    font-size: 2.5rem;
    /* font-weight: 300 !important; */
    margin: 0 15px;
    color: #000;
    white-space: nowrap;
    
  }
  @media (max-width: 450px) {
.divider-text {
    font-size: 1.5rem;
    font-weight: 300 !important;
    margin: 0 15px;
    color: #000;
    white-space: nowrap;
    
}
   }