.aboutplace-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
  color: #111;
  background: #fff;
}

.aboutplace-heading {
  font-size: 24px;
  font-weight: 300 !important;
  margin-bottom: 6px;
}

.aboutplace-underline {
  width: 100%;
  height: 2px;
  background-color: #b60000; /* deep red line */
  margin-bottom: 16px;
}

.aboutplace-content {
  line-height: 1.6;
}

.content_left {
  display: flex;
  flex-basis: 80%;
  justify-content: space-between;
}

.aboutplace-subtitle {
  font-size: 16px;
  
  font-weight: 300 !important;
  margin-top: 14px;
  margin-bottom: 6px;
}

.aboutplace-text {
  
  font-size: 15px;
  /* font-weight: 300 !important; */
  margin-bottom: 12px;
  min-width: 1100px;
}

.aboutplace-list {
  margin: 0 0 14px 20px;
  padding: 0;
  font-size: 15px;
}

.aboutplace-list li {
  margin-bottom: 6px;
}

.aboutplace-button {
  display: inline-block;
  background: linear-gradient(to right, #b60000, #8b0000); /* red gradient */
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 300 !important;
  cursor: pointer;
  transition: 0.2s;
  width: 150px;
  height: 40px;
  margin-top: 100px;
}

.aboutplace-button:hover {
  opacity: 0.9;
}

/* Hide AboutPlace on mobile devices (max-width 768px) */
@media (max-width: 768px) {
  .aboutplace-container {
    display: none;
  }
}
