.how-container {
  text-align: center;
  padding: 70px 20px;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.how-heading {
  font-size: 28px;
  color: #000;
  font-weight: 500;
  margin-bottom: 60px;
}

.highlight {
  color: #c2772b;
}

.how-card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.how-card {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 18px;
  width: 230px;
  padding: 35px 20px 30px 20px;
box-shadow: 
  0 2px 4px 2px rgba(50, 48, 48, 0.25), 
  0 -2px 4px 1px rgba(50, 48, 48, 0.15);

/* ✅ soft & spread-out */
  transition: all 0.3s ease;
}




.icon-circle {
  background: #ecebeb;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.how-icon {
  width: 52px;
  height: 52px;
  object-fit: contain;
}

.how-title {
  font-size: 17px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
}

.how-text {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
