.why-container-97 {
  background-color: #e6e7e6;
  text-align: center;
  padding: 80px 20px;
 max-width: 1200px;   /* adjust as needed */
  margin: 0 auto;      /* centers it */
  border-radius: 18px;
}

.why-heading-97 {
  font-size: 28px;
  font-weight: 500;
  color: #000;
  margin-bottom: 60px;
}

.why-grid-97 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.why-card-97 {
  background: #ffffff;
  border-radius: 16px;
   box-shadow: 0 2px 1px 1px rgba(50, 48, 48, 0.2), 
              0 0px 1px rgba(50, 48, 48, 0.2); 
  width: 240px;
  padding: 40px 25px;
  transition: all 0.3s ease;
}

.why-card-97:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
}

.why-icon-97 {
  margin-bottom: 18px;
}

.why-title-97 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.why-text-97 {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 900px) {
  .why-grid-97 {
    gap: 20px;
  }
  .why-card-97 {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .why-card-97 {
    width: 100%;
  }
}
