.body {
   overflow-x: hidden !important;
   display: none !important;
}

#root {
   overflow-x: hidden !important;
}

* {
   font-family: "Plus Jakarta Sans", "Inter", "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.heading,
strong,
b {
   font-family: "Outfit", "Inter", sans-serif !important;
   font-weight: 400 !important;
}

* {
   font-weight: 400;
}